Source: nmoscommon
Maintainer: Peter Brightell <peter.brightwell@bbc.co.uk>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7), dh-python
Standards-Version: 3.9.7



Package: python-nmoscommon
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-flask-sockets, python-flask-oauthlib, python-pybonjour
Description: nmos python utilities
 .
 Implementation of the nmos python utilities
 .



